.home{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.username{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 30px;

}